<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Employees Pairs</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container" style="max-width: 500px">
    <h3 class="mb-3">Select a CSV file and calculate the result</h3>
    <form
            id="uploadForm"
            method="post"
            th:action="@{/employees}"
            enctype="multipart/form-data">
        <input id="input-file" type="file" name="file" />
        <button class="btn btn-sm btn-outline-success float-right" type="submit">
            Calculate
        </button>
    </form>
    <div class="row mt-4 mx-auto d-flex flex-row justify-content-center">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Employee ID #1</td>
                <td>Employee ID #2</td>
                <td>Project ID</td>
                <td>Days worked</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${result == null}">
                <td colspan="4">No data</td>
            </tr>
            <tr th:if="${message == null}">
                <td th:text="${result.employee1Id}"></td>
                <td th:text="${result.employee2Id}"></td>
                <td th:text="${result.projectId}"></td>
                <td th:text="${result.longestCollaborationInDays}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${message != null}"
            class="alert alert-secondary alert-dismissible fade show text-center message mt-3"
            role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
</body>

</html>